/* stili generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: 70%;
    margin: auto;
    display: flex;
     /* DEBUG */
    border: black 1px dashed;
}

/* stili header */
#search{
    padding: 10px 0;
    /* DEBUG */
    background-color: aqua;
}

.container.header{
    padding: 5px 0;
    /* DEBUG */
    background-color: #dda71f;
}

#main-nav{
    flex-basis: 55%;
     /* DEBUG */
     text-align: center;
     border-right: black 1px dashed;
     border-left: black 1px dashed;
}

.logo.first{
    flex-basis: 20%;
}

.login{
    text-align: right;
}

#main-info{
    display: flex;
    /* DEBUG */
    background-color: rgb(2, 2, 171);
    min-height: 250px;
}

.info{
    flex-basis: 50%;
    margin: auto;
    /* DEBUG */
     border: black 1px dashed;
    background-color: rgb(238, 50, 169);
    min-height: 200px;
}

/* stili main */
.main{
    display: flex;
    /* DEBUG */
    min-height: 350px;
}

.main.white{
    /* DEBUG */
    background-color: white;
}

.main.grey{
    /* DEBUG */
    background-color: lightgray;
}

.container.item{
    /* DEBUG */
    min-height: 300px;
}

.image{
    flex-basis: 60%;
    /* DEBUG */
    background-color: lightblue;
}

.text{
    flex-basis: 40%;
     /* DEBUG */
     background-color: pink;
     border-left: black 1px dashed;
}

.container.item.reverse{
    flex-direction: row-reverse;
}

.main.grey.large{
    min-height: 600px;
}

.container.large{
    /* DEBUG */
    background-color: green;
    min-height: 550px;
}

/* stili footer */
.main.footer{
    display: flex;
     /* DEBUG */
    background-color: rgb(31, 31, 46);
}

.container.footer{
     /* DEBUG */
     min-height: 300px;
}

.col{
    flex-basis: 15%;
    /* DEBUG */
    background-color: rgb(134, 194, 174);
    border-right: white 1px dashed;
}

.col.first{
    flex-basis: 40%;
    /* DEBUG */
    background-color: salmon;
    border-right: black 1px dashed;
}

.main.footer.last{
    display: flex;
    border-top: solid 1px #7289da;
    padding: 10px 0;
    /* DEBUG */
    min-height: auto;
    background-color: rgb(31, 31, 46);
}

.container.last{
    padding: 5px 3px;
    justify-content: space-between;
     /* DEBUG */
    background-color: aquamarine;
}

.logo.last{

    /* DEBUG */
    background-color: salmon;
    border: black 1px dashed;
}

.download.signup{
    /* DEBUG */
    background-color: salmon;
    border: black 1px dashed;
}